doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/rules') Rules
    br
    a(href='/pugs') Pugs
    br
    a(href='/bigdogs') Big Dogs
    
    block content
